<!DOCTYPE html>
   	
   	<section class="content" ng-controller="CartCtrl as c">
      <div>
        <div ng-show="c.cart.length !== 0">
          <h1>Carrinho</h1>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="c in c.cart.productOrders">
              <h4>{{c.product.name}} |                <span style="color:blue"> {{c.quantity}} </span>
 | {{c.product.price*c.quantity | currency}}</h4>
              <input class="btn btn-danger" type="button" ng-click="removeItemCart(c)" value="Remove" />
            </li>
          </ul>

          Total : {{c.cart.amount | currency}}
        </div>
        
        <input ng-disabled="c.cart.length === 0" class="btn btn-warn" type="button" ng-click="c.checkout()" value="Checkout" />
        
      </div>
    </section>
    
