<!DOCTYPE html>

<section class="content" ng-controller="ProductCtrl as p">

	<div>
		<div class="text-right cartButton">
			<a href="#" ui-sref="cart" class="btn btn-info btn-lg"><span
				class="badge">{{p.productsCountInCart}}</span> <span
				class="glyphicon glyphicon-shopping-cart"></span>Carrinho</a>
		</div>
		
		<ul class="list-group text-center productsGrid">
			<li class="col-xs-6 col-md-3 col-sm-3 col-lg-3 list-group-item"
				ng-repeat="product in p.data">
				<figure>
					<img width="100" height="100" src="{{product.imgUrl}}" />
					<figcaption>
						{{product.name}}
						<h3>{{product.price | currency:'R$'}}</h3>
					</figcaption>
				</figure> <input class="btn btn-success" type="button" ng-click="p.addItemToCart(product)" value="Comprar" />
			</li>
		</ul>
	</div>
</section>

